<h1>Sign Up</h1>

	<%= form_for @user, url: { action: 'create' } do |f| %>
	<%= f.text_field :username, html: {id: "username"}, placeholder: "username" %>
	 <%= f.text_field :geotag_id,  html: {id: "city_name"}, placeholder: "your city" %>
	<%= f.password_field :password, html: {id: "password"}, placeholder: "password" %>
	<%= f.submit 'Sign Up', class: "btn btn-primary" %>
<% end %>