<h1>Question: </h1>
<h3><%= @question.title %></h3>
<p><%= @question.content %></p>

<h1>Responses: </h1>
<ul>
  <% @answers.each do |answer| %>
    <li>
      <%= answer.content %>
      <ul>
        <li class="votes"><strong><%= answer.votes %></strong></li>
        <li><%= link_to "vote up", upvote_answer_path(answer), remote: true, class: "vote_up", method: :put %></li>
        <li><%= link_to "vote down", downvote_answer_path(answer), remote: true, class: "vote_down", method: :put %></li>

      
      </ul>
    </li>
  <% end %>
</ul>

<h4>Submit an answer: </h4>
<%= form_for [@question, @answer] do |f| %>
  <%= f.text_area :content %>
  <br>
  <%= f.submit "Submit Answer" %>
<% end %>
