<!DOCTYPE html>
<html>
<head>
  <title>GeoVerflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

</head>
<body>
<div class="header">
  <%= link_to "Home", root_path %>
  <% if current_user %>
    <%= link_to "Profile", user_path(current_user) %>
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign up", signup_path %>
    <%= link_to "Sign in", signin_path %>
  <% end %>
    <%= link_to "All Questions", questions_path %>
</div>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="container">

  <%= yield %>

</div>

</body>
</html>
