<!DOCTYPE html>
<html>
<head>
  <title>GeoVerflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="header">
  <%= link_to "Home", root_path %>
  <% if current_user %>
    <%= link_to "Profile", user_path(current_user) %>
    <div class="login_logout"><%= link_to "Sign out", signout_path %></div>
  <% else %>
    <%= link_to "Sign up", signup_path %>
    <div class="login_logout"><%= link_to "Sign in", signin_path %></div>
  <% end %>
    <%= link_to "All Questions", questions_path %>
</div>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="container">

  <%= yield %>

</div>

</body>
</html>
